/* reset inicial */
body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

/* cores de texto */
.c12 {
  color: #000000;
}

.c11 {
  color: #111111;
}

.c10 {
  color: #2e2e2e;
}

.c9 {
  color: #404040;
}

.c8 {
  color: #595959;
}

.c7 {
  color: #717171;
}

.c6 {
  color: #9c9c9c;
}

.c5 {
  color: #b2b2b2;
}

.c4 {
  color: #cccccc;
}

.c3 {
  color: #dedede;
}

.c2 {
  color: #ededed;
}

.c1 {
  color: #f7f7f7;
}

.cw {
  color: #ffffff;
}

.p5 {
  color: #332200;
}

.p4 {
  color: #664400;
}

.p3 {
  color: #a66f00;
}

.p2 {
  color: #e4a30b;
}

.p1 {
  color: #ffbb00;
}

/* cores de background */
.bg-c12 {
  background-color: #000000;
}
.bg-c11 {
  background-color: #111111;
}
.bg-c10 {
  background-color: #2e2e2e;
}
.bg-c1 {
  background-color: #f7f7f7;
}
.bg-w {
  background-color: #ffffff;
}
.bg-p1 {
  background-color: #ffbb00;
}

/* tipografia */
.font-1-xxl {
  font-family: Poppins;
  font-weight: 600;
  font-size: 64px;
  line-height: 72px;
}

.font-1-xl {
  font-family: Poppins;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
}

.font-1-l {
  font-family: Poppins;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}

.font-2-l {
  font-family: Roboto;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}

.font-2-l-b {
  font-family: Roboto;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 1.5%;
  text-transform: uppercase;
}

.font-1-m {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.font-1-m-b {
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.font-2-m {
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.font-1-s {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.font-2-s {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.font-2-xs {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.font-1-xs {
  font-family: Roboto;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}
