:root {
  --ww: #ffffff;
  --cw: #f6fff9;
  --c1: #edf5ef;
  --c2: #e4ece4;
  --c3: #dbe2dc;
  --c4: #bec8bd;
  --c5: #a7b4ae;
  --c6: #9c9c9c;
  --c7: #717171;
  --c8: #595959;
  --c9: #404040;
  --c10: #2e2e2e;
  --c11: #131715;
  --c12: #070707;
  --p1: #00e13f;
  --p2: #01c939;
  --p3: #009c35;
  --p4: #006021;
  --p5: #00280e;
}

.cw {
  color: var(--cw);
}
.c1 {
  color: var(--c1);
}
.c2 {
  color: var(--c2);
}
.c3 {
  color: var(--c3);
}
.c4 {
  color: var(--c4);
}
.c5 {
  color: var(--c5);
}
.c6 {
  color: var(--c6);
}
.c7 {
  color: var(--c7);
}
.c8 {
  color: var(--c8);
}
.c9 {
  color: var(--c9);
}
.c10 {
  color: var(--c10);
}
.c11 {
  color: var(--c11);
}
.c12 {
  color: var(--c12);
}
.p1 {
  color: var(--p1);
}
.p2 {
  color: var(--p2);
}
.p3 {
  color: var(--p3);
}
.p4 {
  color: var(--p4);
}
.p5 {
  color: var(--p5);
}

.bg-c12 {
  background-color: var(--c12);
}
.bg-c11 {
  background-color: var(--c11);
}
.bg-c10 {
  background-color: var(--c10);
}
.bg-c1 {
  background-color: var(--c1);
}
.bg-cw {
  background-color: var(--cw);
}
.bg-p1 {
  background-color: var(--p1);
}
